img {
    width: 100%;
}

.content {
    padding: 2rem 2rem 4rem 2rem;
}

.entry h4 {
    border-bottom: 1px solid #000000;
}

.entry img[src="/images/joe/joe-jones--signs--hot-chocolate.jpg"],
.entry img[src="/images/joe/joe-jones--steps.jpg"] {
    max-width: 70%;
}

@media (max-width: 550px) {
    .content {
        padding: 2rem 0 4rem 0;
    }
    .fluid-container .entry {
        padding: 0;
    }
    h1, h4 {
        padding: 0 2rem;
    }
}

@media (max-width: 640px) {
    .entry img[src="/images/joe/joe-jones--signs--hot-chocolate.jpg"],
    .entry img[src="/images/joe/joe-jones--steps.jpg"] {
        max-width: 100%;
    }
}

.entry {
    margin: auto;
    max-width: 720px;
    min-height: auto;
}

.entry:not(.footnotes) p {
    font-size: 1.1em;
}

.footnotes {
    padding-top: 20vh;
}

.entry p {
    padding: 1rem 2rem;
    margin-bottom: 0;
    /* z-index: 2; */
    /* background-color: #f7f7f97e; */
}

/* .column > p {
    margin-bottom: 50vh;
} */

.scrolly > p {
    background-color: rgba(247, 247, 249, 0.75);
    backdrop-filter: blur(1rem);
    
    position: sticky;
    top: -100vh;
}

.scrolly > p.stay {
    top: 0;
}

.scrolly > p.darken {
    background-color: rgba(0, 0, 0, 0.65);
    color: rgba(247, 247, 249, 0.95);
}

.darken {
    background-color: rgba(0, 0, 0, 0.65);
    color: rgba(247, 247, 249, 0.95);
    font-style: italic;
}

span.darken {
    padding: 0 0.4rem;
}

.scrolly > p:not(:last-child, :first-child),
.scrolly > figure.has-sound:not(.has-image):not(:last-child, :first-child) {
    margin-bottom: 100vh;
}

/* .scrolly > p:last-child {
    padding-bottom: 20vh;
} */

/* .scrolly > p + figure {
    margin-top: -98vh;
} */

/* .entry p + p {
    margin-top: 2.5rem;
} */

.entry img {
    max-width: 720px;
}
/* 
.entry figure {
    height: 100vh;
} */

.entry figure .images {
    margin: 0;
    /* background-color: #F7F7F9; */
    display: flex;
    gap: 1rem;
}

/* .entry figure.has-sound:not(.has-image) { */
    /* padding-bottom: 1em; */
    /* margin-bottom: 40vh; */
    /* background-color: #F7F7F9A8;
    backdrop-filter: blur(0.25rem); */
/* } */

.entry figure div {
    position: relative;
    width: 100%;
    /* height: 480px; */
    /* overflow: hidden; */
}

.entry figure div img:not(.full-height) {
    min-height: 480px;
    height: 75vh;
    object-fit: cover;
}

.entry figure figcaption {
    /* box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 0.75rem;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5rem; */

    display: none;
}

.entry figure audio {
    /* position: absolute; */
    width: 100%;
}

.scrolly figure {
    /* filter: blur(1rem);
    transition: all .3s ease-in; */

    position: sticky;
    top: 0;
    margin: 0;

    background-color: rgba(247, 247, 249, 0.75);
    backdrop-filter: blur(1rem);
}

.entry figure.cover {
    min-height: 100vh;
}

a.audio-clip {
    color: inherit;
    /* background-color: #82ffff54; */
    transition: all .3s ease-in;
}

a.audio-clip:hover,
a.audio-clip.active {
    background-color: #82ffff;
}

/* .sticky {
    position: sticky;
    top: 0;
} */

/* .entry figure.has-image.focus {
    filter: blur(0);
} */

/* section {
    background-size: contain;
    background-attachment: fixed;
    width: 100%;
    background-position: top center;
    position: sticky;
    top: 0;
    padding: 100vh 1rem;
}

section p {
    background-color: rgba(247, 247, 249, 0.75);
    backdrop-filter: blur(1rem);
} */

.entry [data-highlight="am-i"] {
    text-align: center;
    display: block;
    padding: 5vh;
}
.scrolly > p.stay[data-highlight="am-i"],
.scrolly > p.stay[data-highlight="inside-out"] {
    top: 35vh;
    padding: 5vh;
    margin-bottom: 50vh;
}

.scrolly > p[data-highlight="timing"] {
    top: 35vh;
}

[data-highlight="becoming"] {
    padding: 20vh 0;
}

[data-highlight="death-guides"] {
    text-align: right;
    display: block;
}

p[data-highlight="something-else"],
p[data-highlight="someone-else"] {
    text-align: right;
    margin-bottom: 0;
    padding: 0 2rem;
}

/* p[data-highlight="someone-else"] em {
    font-weight: 800;
} */

p[data-highlight="to-you"] {
    text-align: right;
}

/* .scrolly > p.stay[data-highlight="am-i"] + p.stay {
    top: 0;
} */

/* .question-mark::before {
    content: ' ';
    font-size: 0.5rem;
} */

.question-mark {
    font-style: italic;
    border-bottom: 1px solid;
    border-color: inherit;
    padding: 2px;
    line-height: 1;
    display: inline-block;
}