body {
    font-family: "Jost", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F7F7F9;
}

.nav {
    text-align: right;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 20px;
    margin-top: 25%;
    backdrop-filter: blur(10px);
}

.nav p {
    margin-bottom: 0.5em;
}

.not-link {
    text-decoration: line-through;
}

.entry {
    min-height: 60vh;
    margin-bottom: 100px;
}

.entry a[name] {
    color: #222;
}

.entry p {
    letter-spacing: 0.5px;
    font-size: 1em;
}

.entry h4 {
    font-family: 'Caveat', cursive;
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 0.75px dotted #222;
}

.entry quote {
    text-align: center;
    display: block;
}

.content {
    margin-top: 50%;
}

.text-center {
    text-align: center;
}

#playground {
    height: 600px;
    width: 100%;
}

#playground path {
    transition: all 200ms ease-in-out;
    cursor: pointer;
    stroke-linejoin: round;
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}

#playground path:hover {
    stroke-width: 3px;
    stroke-dasharray: 25;
    animation: dash 5s linear;
    animation-iteration-count: infinite;
}

.entry p.caption {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.fluid-container .content,
.fluid-container .nav {
    margin-top: 0;
}

.fluid-container .content {
    backdrop-filter: blur(10px);
}

.prose {
    padding-left: 2em;
}

.prose p {
    margin-bottom: 0;
}

.fluid-container .entry p {
    max-width: 720px;
}

.fluid-container .entry.frameless p {
   max-width: 100%;
}

.itinerary {
    text-align: left;
    padding-left: 2em;
}

.itinerary p, .itinerary ul li {
    margin: 0;
}

.itinerary .plan {
    margin: 1em 0;
}

.itinerary .plan p:first-child {
    border-bottom: 1px solid #222;
    font-style: italic;
}

.itinerary .plan p:not(:first-child) {
    font-size: 0.75em;
    font-weight: 300;
}

#log iframe {
    min-height: 500px;
    height: 100vh;
}

.itinerary .plan ul {
    font-family: 'Space Mono', monospace;
    font-size: 0.8em;
    list-style: none;
}

.itinerary .place {
    font-style: italic;
    color: #1EAEDB;
}

.fluid-container .nav {
    height: 100vh;
    overflow: auto;
    padding-bottom: 2em;
    /* padding-right: 2em; */
}

img {
    max-width: 100%;
}

@media (max-width: 550px) {
    .nav {
        margin-top: 0;
        padding: 0;
    }

    .nav p {
        display: inline;
        margin: 0;
        padding: 0;
    }
    .entry h4 {
        padding-top: 80px
    }

    #playground {
        height: 300px;
        width: 100%;
    }
    .prose {
        padding: 2em 2em 0 2em;
        text-align: left;
    }
    .foot {
        padding-right: 2em;
    }
    .fluid-container .content {
        z-index: 2;
    }
    .fluid-container .entry {
        padding: 2em;
    }
}